html, body {
    max-width: 100%;
    overflow-x: hidden;
} 
.u-section-1 {
  min-height: 1301px;
}

.u-section-1 .u-image-1 {
  height: 828px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 721px;
  height: 721px;
  object-position: 2.6% 50%;
  background-position: 50% 50%;
  background-image: url("images/vbvb-min2.jpg");
  margin: -558px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-list-1 {
  width: 728px;
  margin: -310px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 505px;
  grid-gap: 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-text-4 {
  line-height: 2;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-text-6 {
  line-height: 2;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-text-8 {
  line-height: 2;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -1166px calc(((100% - 1140px) / 2) + 338px) 903px calc(((100% - 1140px) / 2) + 36px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1196px;
  }

  .u-section-1 .u-image-1 {
    height: 639px;
  }

  .u-section-1 .u-image-2 {
    width: 566px;
    height: 566px;
    margin-top: -417px;
    margin-right: calc(((100% - 940px) / 2) + -19px);
  }

  .u-section-1 .u-list-1 {
    margin-top: -198px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 567px;
    grid-gap: 20px 20px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
    padding: 10px 28px 11px 27px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 22px;
    padding: 10px 28px 11px 27px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 22px;
    padding: 10px 28px 11px 27px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 22px;
    padding: 10px 28px 11px 27px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin: -1118px calc(((100% - 940px) / 2) + 193px) 60px calc(((100% - 940px) / 2) + -19px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1360px;
  }

  .u-section-1 .u-image-2 {
    width: 665px;
    height: 665px;
    margin-top: -325px;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 662px;
    margin-top: -213px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 519px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 18px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 18px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 18px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -1297px;
    margin-right: calc(((100% - 720px) / 2) + 19px);
    margin-left: calc(((100% - 720px) / 2) + -19px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1579px;
  }

  .u-section-1 .u-image-2 {
    width: 511px;
    height: 511px;
    margin-top: -464px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 407px;
    margin-top: -125px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 946px;
  }

  .u-section-1 .u-text-9 {
    font-size: 2.25rem;
    margin-top: -1510px;
    margin-right: calc(((100% - 540px) / 2) + 85px);
    margin-left: calc(((100% - 540px) / 2) + -18px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1721px;
  }

  .u-section-1 .u-image-2 {
    width: 335px;
    height: 335px;
    margin-top: -423px;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 296px;
    margin-top: 31px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1115px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 34px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 34px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 34px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: -1636px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-2 {
  background-image: none;
  min-height: 866px;
}

.u-section-2 .u-image-1 {
  height: 645px;
  object-position: 33.83% 67.46%;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.7);
}

.u-section-2 .u-text-1 {
  width: 822px;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 3rem;
  margin: -581px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 27px calc(((100% - 1140px) / 2) + 159px) 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 61px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 92px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 378px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 378px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 95px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 95px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 375px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 371px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-2 .u-btn-5 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 99px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 783px;
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 59px);
    margin-right: calc(((100% - 940px) / 2) + 59px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 76px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 312px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 78px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 78px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 309px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 306px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 82px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1325px;
  }

  .u-section-2 .u-image-1 {
    height: 692px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    margin-top: -628px;
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 119px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 119px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1722px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 179px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 179px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1937px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 113px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 113px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 119px;
  }
} .u-section-3 {
  min-height: 1088px;
}

.u-section-3 .u-shape-1 {
  height: 192px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-shape-2 {
  width: 331px;
  left: 455px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 76px auto 100px;
}

.u-section-3 .u-image-1 {
  min-height: 500px;
  background-image: url("images/fggf.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 250px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-image-2 {
  min-height: 250px;
  background-image: url("images/mug-gac3663bf8_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-image-3 {
  min-height: 250px;
  background-image: url("images/ghh.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 250px;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 500px;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px 40px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 956px;
  }

  .u-section-3 .u-shape-2 {
    left: 355px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-image-1 {
    min-height: 412px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 206px;
  }

  .u-section-3 .u-image-2 {
    min-height: 206px;
  }

  .u-section-3 .u-image-3 {
    min-height: 206px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 206px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1701px;
  }

  .u-section-3 .u-shape-2 {
    left: 245px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-image-1 {
    min-height: 631px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-3 .u-image-2 {
    min-height: 316px;
  }

  .u-section-3 .u-image-3 {
    min-height: 316px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 316px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 60px 50px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2207px;
  }

  .u-section-3 .u-shape-2 {
    height: 2207px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -192px auto 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1939px;
    margin-bottom: 101px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-image-1 {
    min-height: 473px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 474px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 474px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 474px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 474px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 50px 30px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1380px;
  }

  .u-section-3 .u-shape-1 {
    height: 142px;
  }

  .u-section-3 .u-shape-2 {
    width: 241px;
    height: 1382px;
    margin-top: -143px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1204px;
    margin-left: auto;
    margin-bottom: 90px;
  }

  .u-section-3 .u-image-1 {
    min-height: 298px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-3 .u-image-2 {
    min-height: 298px;
  }

  .u-section-3 .u-image-3 {
    min-height: 298px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 298px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 812px;
}

.u-section-4 .u-text-1 {
  font-style: normal;
  font-weight: 700;
  margin: 60px auto 0 calc(((100% - 1140px) / 2) + 60px);
}

.u-section-4 .u-shape-1 {
  height: 232px;
  background-image: none;
  margin-top: 150px;
  margin-bottom: 0;
}

.u-section-4 .u-list-1 {
  width: 1033px;
  margin: -338px calc(((100% - 1140px) / 2) + 47px) 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 22px));
  min-height: 515px;
  grid-gap: 33px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 147px;
  height: 147px;
  background-image: url("images/ds.jpg");
  background-position: 50% 50%;
  margin: 69px 173px 0 0;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 14px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 147px;
  height: 147px;
  background-image: url("images/hgghgh.jpg");
  background-position: 50% 50%;
  margin: 69px 173px 0 0;
}

.u-section-4 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px auto 0 0;
}

.u-section-4 .u-text-7 {
  margin: 14px auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-3 {
  width: 147px;
  height: 147px;
  background-image: url("images/fgfg.jpg");
  background-position: 50% 50%;
  margin: 69px 173px 0 0;
}

.u-section-4 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 40px auto 0 0;
}

.u-section-4 .u-text-10 {
  margin: 14px auto 0 0;
}

.u-section-4 .u-text-11 {
  margin: 25px auto 60px calc(((100% - 1140px) / 2) + 60px);
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 22px));
    min-height: 469px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height: 1078px;
  }

  .u-section-4 .u-text-11 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1748px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-11 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1828px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 175px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-11 {
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 570px 0 0;
}

.u-section-5 .u-list-1 {
  margin: 61px auto 59px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 24px));
  min-height: 299px;
  grid-gap: 32px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 11px;
}

.u-section-5 .u-text-4 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 11px;
}

.u-section-5 .u-text-7 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-8 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 11px;
}

.u-section-5 .u-text-10 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-11 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-12 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 11px;
}

.u-section-5 .u-text-13 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-14 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1678px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 66px;
    margin-left: calc(((100% - 275px) / 2) + -22px);
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-5 .u-list-1 {
    width: 300px;
    margin-top: 133px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1050px;
    grid-gap: 32px 32px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 21px 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 3rem;
    width: 94px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 21px 0;
  }

  .u-section-5 .u-text-6 {
    font-size: 3rem;
    width: 94px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-7 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 21px 0;
  }

  .u-section-5 .u-text-9 {
    font-size: 3rem;
    width: 94px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-10 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding: 21px 0;
  }

  .u-section-5 .u-text-12 {
    font-size: 3rem;
    width: 94px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-13 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-14 {
    margin-left: 10px;
    margin-right: 10px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 834px;
}

.u-section-6 .u-text-1 {
  margin: 23px auto 0 434px;
}

.u-section-6 .u-map-1 {
  width: 1099px;
  height: 228px;
  margin: 17px auto 0 11px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: -12px 0 60px;
}

.u-section-6 .u-layout-cell-1 {
  background-image: none;
  min-height: 239px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  margin: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  margin: 40px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 237px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  text-transform: none;
  margin: 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 476px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  text-transform: none;
  margin: 0;
}

.u-section-6 .u-form-1 {
  height: 334px;
  margin: 34px -60px 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 358px;
  }

  .u-section-6 .u-map-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 274px;
  }

  .u-section-6 .u-map-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 206px;
  }

  .u-section-6 .u-map-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1302px;
  }

  .u-section-6 .u-text-1 {
    width: 178px;
    margin-left: auto;
  }

  .u-section-6 .u-map-1 {
    width: 338px;
    margin-top: 23px;
    margin-left: -32px;
    margin-right: -32px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 338px;
    margin-top: -18px;
    margin-left: -32px;
    margin-right: -32px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 212px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 459px;
  }

  .u-section-6 .u-btn-1 {
    width: auto;
    padding: 10px 30px;
  }
}
